@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    font-size: 16px;
    --black__color: rgba(19, 19, 19, 1);
    --black__color2: rgb(50, 50, 50);
    --white__color: rgba(250, 250, 255, 1);
    --transition: 0.4s ease-in-out;

}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather',
        serif;
    /* border: 1px solid pink; */
}

body {
    width: 100%;
    height: auto;
    background-color: var(--black__color);
}

body::-webkit-scrollbar {
    background-color: var(--black__color2);
    width: 0.65rem;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.786);
}


/* main layout  */
.body__container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.white {
    background-color: var(--white__color);
    color: var(--black__color);
}

.black {
    color: var(--white__color);
    background-color: var(--black__color);
}

/* banner section */
.banner {
    width: 100%;
    aspect-ratio: 2.25/1;
    background-image: url('/assets/img/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-txt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(19, 19, 19, 0.7);
    text-align: center;
    padding: 0 5rem;
}


.banner-txt h1 {
    font-size: 4rem;
}

.banner-txt h2 {
    font-size: 2.5rem;
}


/* ABOUT ME  */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 3rem;
    padding: 3rem 0;
}

.about-img img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}


.about-description ul {
    list-style-position: inside;
}

.about-description li {
    margin-top: 0.5rem;
}

/* PHOTO GALLERY */
.photo__gallery {
    width: 60%;
    height: auto;
    text-align: center;
    gap: 3rem;
    padding: 3rem 0;
}

.photo__gallery-photos {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.photo__gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
}


/* OFFER  */
.offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 55%;
    gap: 3rem;
    padding: 3rem 0;
}

.offer-img img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}

.offer-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}


.offer-description ul {
    list-style-position: outside;
    padding-left: 1rem;
}

.offer-description li {
    margin-top: 0.5rem;
}

/* REFERENCES */

.references {
    width: 80%;
    margin-top: 3rem;
}

.references h2 {
    text-align: center;
}

.reference__container {
    width: 100%;
    margin: 3rem 0;
    position: relative;
}

.swiper-wrapper {
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-start;
}

.reference__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.reference__card p {
    /* ASK: woli dłuższe czy przwijane? */
    /* height: auto; */
    height: 6.5rem;
    overflow-y: auto;
    padding-right: 1rem;
}

.reference__card p::-webkit-scrollbar {
    background-color: var(--black__color2);
    width: 0.25rem;
}

.reference__card p::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.786);
}


.swiper-pagination-bullet {
    background-color: var(--white__color) !important;
}

/* QUOTE  */

.quote {
    width: 100%;
    background-image: url('/assets/img/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-txt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(19, 19, 19, 0.9);
    /* text-align: center; */
    padding: 5rem 5rem;
    gap: 2rem;
}

.quote-txt h3 {
    text-align: center;
    font-size: 1.5rem;
}

.quote-txt h4 {
    width: 85%;
    font-size: 1.25rem;
    text-align: right;
    font-style: italic;
}

/* CONTACT */

.contact {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 0;
}

.contact__informations,
.contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.contact__form form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.contact__form-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.contact__form-box label {
    font-weight: 600;
}

.contact__form-box input[type=text],
.contact__form-box textarea {
    outline: none;
    width: 100%;
    resize: none;
    border: 1px solid var(--white__color);
    background-color: var(--black__color);
    padding: 0.75rem 1rem;
    color: var(--white__color);
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact__form-box input[type=text]:focus,
.contact__form-box textarea:focus {
    background-color: var(--black__color2);
}

.contact__informations-information {
    border: 1px var(--white__color) solid;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.contact__informations-information h3 {
    background-color: var(--black__color);
    position: absolute;
    top: -1.25rem;
    right: 1rem;
    padding: 0.5rem;
}

.contact__informations-information a {
    text-decoration: none;
    color: var(--white__color);
    font-weight: 800;
    transition: var(--transition);
}

.contact__informations-information a:hover {
    opacity: 0.75;
}

.contact__form form button {
    width: min-content;
    display: flex;
    outline: none;
    border: 1px solid var(--white__color);
    background-color: var(--black__color);
    color: var(--white__color);
    padding: 0.75rem 3rem;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 600;
}

.contact__form form button:hover {
    background-color: var(--black__color2);
}



/* FOOTER */
.footer {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    position: sticky;
    bottom: 0;
    background-color: var(--black__color);
    z-index: 999;
    transition: var(--transition);
}

.scrolled {
    -webkit-box-shadow: 0px 0px 10px -7px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px -7px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px -7px rgba(255, 255, 255, 1);
}

.footer a {
    text-decoration: none;
    color: var(--white__color);
    font-weight: 600;

}